.contact-us {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-desktop-middle) {
    flex-direction: column;
    align-items: center;
  }
}

.contact-us__text {
  margin-bottom: 13px;
  padding-left: 50px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: $blue-darkest-text;

  @media (max-width: $tablet-desktop-middle) {
    margin-bottom: 10px;
    padding-left: 0;
    font-size: 18px;
  }
}

.contact-us__link {
  display: flex;
  align-items: center;

  &--tel {
    color: $black-basic;
    font-size: 20px;
    line-height: 32px;
  }

  &:hover,
  &:focus {
    color: $orange-main;
  }

  @media (max-width: $tablet-desktop-middle) {
    &--tel {
      color: $orange-main;
      font-size: 18px;
      text-decoration: underline;
    }
  }
}

.contact-us__icon {
  &--phone {
    margin-right: 20px;
  }

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
