.contacts {
  padding-left: 90px;
  padding-right: 20px;
  border-right: 1px solid $grey-decoration;

  @media (max-width: $tablet-width-max) {
    padding-left: 50px;
    padding-right: 0;
    border-right: none;
  }

  @media (max-width: $mobile-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 12px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: $orange-main;

  &--email {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 19px;
  }

  &--phone {
    line-height: 32px;
    text-decoration: underline;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    justify-content: center;

    &--email {
      margin-bottom: 14px;
    }
  }
}

.contacts__icon {
  &--email {
    margin-right: 15px;
  }

  &--phone {
    margin-right: 11px;
  }
}
