.corporate-trips {
  padding-left: 49px;
}

.corporate-trips__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.corporate-trips__text {
  margin: 0;
  width: 94%;
  font-size: 14px;
  line-height: 24px;
  color: $blue-darkest-text-opacity-50;
}
