.feedback {
  padding-top: 28px;
  padding-bottom: 100px;

  @media (max-width: $tablet-width-max) {
    padding-top: 15px;
    padding-bottom: 40px;
  }
}

.feedback__container {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url('../img/form-sunset-desktop.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 16% center;

  @media (max-width: $tablet-width-max) {
    background-image: url('../img/form-sunset-tablet.jpg');
    padding-bottom: 75px;
    background-position: center;
  }
}
