.form {
  &--question {
    margin-left: auto;
    width: 56%;

    @media (max-width: $tablet-width-max) {
      width: 100%;
      max-width: 739px;
      margin-left: auto;
      margin-right: auto;
    }

    .form__wrapper {
      justify-content: center;
      padding: 50px;
      border-radius: 5px;
      box-shadow: $feedback-form-shadow;
      background-color: $white-basic;

      @media (max-width: $mobile-width-max) {
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .form__input-wrapper {
      margin-bottom: 25px;
      width: calc(50% - 10px);

      &--tel {
        margin-right: 19px;
      }

      @media (max-width: $mobile-width-max) {
        width: 100%;
        max-width: 500px;
        margin-bottom: 20px;

        &--tel {
          margin-right: 0;
        }
      }
    }

    .form__title {
      margin-bottom: 11px;

      @media (max-width: $mobile-width-max) {
        margin-bottom: 20px;
      }
    }

    .form__description {
      margin-bottom: 24px;

      @media (max-width: $mobile-width-max) {
        margin-bottom: 20px;
      }
    }
  }

  &--buy {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    height: 100%;
    background-color: $grey;

    @media (max-width: $mobile-width-max) {
      padding-top: 100px;
      padding-bottom: 20px;
      padding-left: 16px;
      padding-right: 16px;
    }

    .form__wrapper {
      flex-direction: column;
      align-items: center;
      background-color: $grey;

      @media (max-width: $mobile-width-max) {
        width: 100%;
      }
    }

    .form__title {
      margin-bottom: 50px;
    }

    .form__description {
      display: none;
    }

    .form__input-wrapper {
      margin-bottom: 20px;
      width: 100%;
      max-width: 500px;
    }
  }
}

.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  color: $blue-darkest-text;
}

.form__title {
  margin: 0;
  width: 100%;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
}

.form__description {
  margin: 0;
  width: 100%;
  line-height: 24px;
  text-align: center;
}

.form__input-wrapper {
  position: relative;
}

.form__label {
  &--tel {
    position: relative;
  }
}

.form__input {
  width: 100%;
  min-width: 190px;
  padding: 16px 15px 15px 15px;
  border: 1px solid $blue-dark-main-opacity-30;

  &--tel {
    padding-left: 51px;

    & + label {
      &::before {
        content: '+7';
        position: absolute;
        top: 51%;
        left: 26px;
        font-size: 14px;
        line-height: 17px;
        color: $blue-darkest-text;
        transform: translateY(-50%);
      }
    }
  }

  &::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: $blue-darkest-text;
  }

  &:required ~ span {
    position: absolute;
    top: 5px;
    left: 15px;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: $orange-main;
  }

  &:invalid {
    border: 1px solid $orange-main;

    & + label {
      &::after {
        content: 'Данные не верны';
        position: absolute;
        top: -15px;
        left: 0;
        font-size: 12px;
        line-height: 15px;
        color: $orange-main;
      }
    }
  }
}

