.future-trips {
  padding-left: 12px;
  border-right: 1px solid $grey-decoration;

  @media (max-width: $tablet-width-max) {
    padding-left: 0;
  }

  @media (max-width: $mobile-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-right: 0;
    border-bottom: 1px solid $grey-decoration;
  }
}

.future-trips__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;

  @media (max-width: $mobile-width-max) {
    width: 100%;
    text-align: center;
  }
}

.future-trips__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-max) {
    justify-content: center;
    width: 100%;
  }
}

.future-trips__item {
  width: 33.333%;
  min-width: 99.5px;
  padding-right: 5px;

  @media (max-width: $mobile-width-max) {
    text-align: center;
    width: 50%;
    padding: 0;
  }
}

.future-trips__sub-list {
  @include list-reset;
}

.future-trips__link {
  font-size: 14px;
  line-height: 17px;
  color: $blue-darkest-text-opacity-50;
}
