.navigation__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-right: 53px;
}

.navigation__item {
  padding: 20px;
  font-size: 14px;
  line-height: 17px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    .navigation__link {
      color: $orange-main;
    }
  }
}

.navigation__link {
  font-weight: 500;
  color: $blue-darkest-text;
}
