.page-header {
  padding-top: 19px;
  padding-bottom: 19px;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__logo {
  display: inline-flex;
  margin-right: auto;
  width: 57px;
  height: 22px;
}

.page-header__user-link {
  display: flex;
  align-items: center;
  margin-right: 11px;

  &--tel {
    font-size: 18px;
    line-height: 32px;
    color: $blue-darkest-text;
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    color: $orange-main;
  }

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__icon {
  &--phone {
    margin-right: 6px;
  }
}
