.page-header {
  position: relative;
  padding-top: 19px;
  padding-bottom: 19px;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 14px;

    &--nojs {
      padding-top: 134px;
      padding-bottom: 134px;
      height: 500px;
      background-color: $white-basic;

      .page-header__logo {
        display: none;
      }

      .page-header__container {
        padding: 0;
        max-width: none;
      }

      .page-header__nav {
        display: flex;
        width: 100%;
      }

      .page-header__toggle {
        display: none;
      }
    }

    &--opened {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 134px;
      padding-bottom: 134px;
      height: 500px;
      background-color: $white-basic;
      z-index: $z-index-page-header;
      box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);

      .page-header__logo {
        display: none;
      }

      .page-header__container {
        padding: 0;
        max-width: none;
      }

      .page-header__nav {
        display: flex;
        width: 100%;
      }

      .page-header__toggle {
        background-color: transparent;
        background-image: url("../img/icons/modal-cross.svg");
        background-size: 22px;
      }
    }
  }

  @media (max-width: $mobile-width-max) {
    &--nojs {
      height: 568px;
    }

    &--opened {
      height: 568px;
    }
  }
}

.page-header__nav {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__logo {
  display: inline-flex;
  margin-right: auto;
  width: 57px;
  height: 22px;

  @media (max-width: $tablet-width-max) {
    width: 44px;
    height: 17px;
  }
}

.page-header__user-link {
  display: flex;
  align-items: center;
  margin-right: 11px;

  &--tel {
    font-size: 18px;
    line-height: 32px;
    color: $blue-darkest-text;
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    color: $orange-main;
  }

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__icon {
  &--phone {
    margin-right: 6px;
  }
}

.page-header__toggle {
  display: none;
  padding: 0;

  @media (max-width: $tablet-width-max) {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 6.5%;
    max-width: 70px;
    background-image: url("../img/icons/burger.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
  }

  @media (max-width: $mobile-width-max) {
    width: 15.6%;
  }
}
