.page-footer {
  padding-top: 70px;
  padding-bottom: 81px;

  @media (max-width: $tablet-width-max) {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 65px;
    padding-bottom: 25px;
  }
}

.page-footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $tablet-width-max) {
    grid-template-columns: 54.5% 45.5%;
  }

  @media (max-width: $mobile-width-max) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.page-footer__future-trips {
  margin-bottom: 20px;
}

.page-footer__corporate-trips {
  @media (max-width: $tablet-width-max) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
