.page-header {
  padding-top: 39px;
  padding-bottom: 39px;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__logo {
  display: inline-flex;
  margin-right: auto;
  width: 57px;
  height: 22px;
}

.page-header__user-link {
  position: relative;
  padding-left: 36px;
  font-size: 14px;
  line-height: 17px;
  color: $blue-darkest-text;
  text-decoration: underline;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url('../img/icons/phone.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    transform: translateY(-50%);
  }
}
