.places {
  padding-top: 199px;
  padding-bottom: 50px;

  @media (max-width: $tablet-width-max) {
    padding-top: 80px;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 20px;
  }
}

.places__container {
  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.places__title {
  margin: 0;
  position: relative;
  margin-bottom: 34px;
  padding-bottom: 30px;
  max-width: 358px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.25px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 66%;
    height: 4px;
    background-color: $orange-main;
  }

  @media (max-width: $tablet-width-max) {
    margin-bottom: 20px;
    padding-bottom: 0;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: unset;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width-max) {
    font-size: 24px;
    line-height: 36px;
  }
}

.places__description {
  margin: 0;
  margin-bottom: 56px;
  max-width: 328px;
  letter-spacing: -0.47px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 40px;
    text-align: center;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 20px;
  }
}

.places__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-width-max) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 0;
    padding-right: 0;
  }
}

.places__item {
  width: calc((100% - 120px) / 3);
  margin-right: 60px;
  margin-bottom: 100px;

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width-max) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 20px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }

    &:nth-child(3n+3) {
      margin-right: 29px;
    }
  }

  @media (max-width: $mobile-width-max) {
    margin-right: 0;
    margin-bottom: 35px;

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}
