.places-tabs {
  padding-top: 32px;
  padding-bottom: 120px;
  background-image: url('../img/background-map.jpg');
  background-repeat: no-repeat;
  background-position: center 181px;
  background-size: 1444px 1089px;
}
