.places {
  padding-top: 199px;
  padding-bottom: 50px;
}

.places__title {
  margin-bottom: 64px;
  max-width: 358px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
}

.places__description {
  margin-bottom: 56px;
  max-width: 328px;
  letter-spacing: -0.47px;
}

.places__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 100px;
}

.places__item {
  margin-right: 60px;

  &:nth-child(3n+3) {
    margin-right: 0;
  }
}
