.place-feedback {
  width: 382px;
  padding: 30px;
  background-color: $white-basic;

  @media (max-width: $mobile-width-max) {
    width: 268px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 34px;
  }

  @media (max-width: $mobile-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.place-feedback__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.69px;

  @media (max-width: $mobile-width-max) {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 90%;
      height: 1px;
      background-color: $orange-main;
      transform: translateX(-50%);
    }
  }
}

.place-feedback__text {
  margin: 0;
  margin-bottom: 35px;
  font-size: 14px;
  letter-spacing: -0.5px;

  @media (max-width: $mobile-width-max) {
    text-align: center;
    margin-bottom: 20px;
  }
}

.place-feedback__author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
  }
}

.place-feedback__author-photo {
  height: 38px;
  width: 38px;
  margin-right: 16px;

  @media (max-width: $mobile-width-max) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.place-feedback__author-name {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.46px;
}
