.places {
  padding-top: 199px;
  padding-bottom: 50px;
}

.places__title {
  position: relative;
  margin-bottom: 34px;
  padding-bottom: 30px;
  max-width: 358px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 66%;
    height: 4px;
    background-color: $orange-main;
  }
}

.places__description {
  margin-bottom: 56px;
  max-width: 328px;
  letter-spacing: -0.47px;
}

.places__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 100px;
}

.places__item {
  margin-right: 60px;

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
