.place-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:hover {
    .place-card__mask {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: $blue-darkest-text-opacity-60;
    }
  }
}

.place-card__name {
  margin: 0;
  position: absolute;
  bottom: -1px;
  left: 50%;
  padding: 16px;
  min-width: 215px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background-color: $white-basic;
  transform: translateX(-50%);
  letter-spacing: -0.42px;
}

.place-card__photo {
  height: 430px;
  max-width: 350px;

  @media (max-width: $tablet-width-max) {
    height: 425px;
    max-width: 288px;
  }
}

.place-card__mask {
  display: none;
}

.place-card__link-more {
  padding: 30px 25px 30px 25px;
  border: 1px solid $white-basic-opacity-70;
  color: $white-basic-opacity-70;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
