.place-card {
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover,
  &:focus {
    .place-card__mask {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: $blue-darkest-text-opacity-60;
    }
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
  }
}

.place-card__name {
  margin: 0;
  position: absolute;
  bottom: -1px;
  left: 50%;
  padding: 16px;
  min-width: 215px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background-color: $white-basic;
  transform: translateX(-50%);
  letter-spacing: -0.42px;
}

.place-card__photo {
  height: 430px;

  @media (max-width: $tablet-width-max) {
    height: 425px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
  }
}

.place-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place-card__mask {
  display: none;
}

.place-card__link-more {
  padding: 30px 25px 30px 25px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid $white-basic-opacity-70;
  color: $white-basic-opacity-70;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border: 1px solid $white-basic;
    color: $white-basic;
  }
}
