.price-options {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1280px) {
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}

.price-options__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 30px;
  padding-top: 40px;
  max-width: 370px;
  background-color: $white-basic;
  border: 1px solid $blue-dark-main-opacity-30;
  border-radius: 6px;

  &:nth-child(2n+2) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      width: 101%;
      height: 100.5%;
      border: 3px solid $orange-main;
      border-radius: 6px;
    }

    .price-options__title {
      color: $orange-main;
    }

    .price-options__price {
      color: $orange-main;
    }

    .price-options__description {
      border-bottom-color: $orange-main;
    }

    .price-options__advantages-item::before {
      background-image: url("../img/icons/black-check.svg");
    }
  }

  @media (max-width: 1280px) {
    margin-right: 50px;
    padding: 0;
    width: calc((100% - 50px) / 2);
    min-width: 288px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &:hover,
    &:focus {
      &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 101%;
        height: 100.5%;
        border: 3px solid $orange-main;
        border-radius: 6px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  @media (max-width: $mobile-width-max) {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.price-options__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  @media (max-width: 1280px) {
    justify-content: flex-start;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.price-options__title {
  margin: 0;
  margin-right: auto;
  margin-bottom: 34px;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.3px;
  color: $blue-darkest-text-opacity-70;

  @media (max-width: 1280px) {
    margin-bottom: 10px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: unset;
  }
}

.price-options__price {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: $blue-darkest-text-opacity-70;

  @media (max-width: 1280px) {
    margin-bottom: 11px;
    width: 100%;
    text-align: center;
  }
}

.price-options__description {
  margin: 0;
  width: 90%;
  padding-bottom: 28px;
  line-height: 24px;
  border-bottom: 1px solid $blue-dark-main-opacity-30;

  @media (max-width: 1280px) {
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
  }
}

.price-options__advantages-list {
  @include list-reset;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: 1280px) {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.price-options__advantages-item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
  line-height: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 14px;
    height: 12px;
    background-image: url("../img/icons/orange-check.svg");
    background-repeat: no-repeat;
    background-size: 14px 12px;
    background-position: center;
  }

  @media (max-width: 1280px) {
    margin-bottom: 10px;
  }
}

.price-options__buy-button {
  width: 100%;
  min-width: 220px;

  @media (max-width: 1280px) {
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
  }
}
