.promo {
  padding-top: 185px;
  padding-bottom: 296px;
  background-color: $blue-background;
  background-image: url('../img/background-main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  color: $white-basic;
}

.promo__content {
  max-width: 412px;
  margin-left: auto;
  margin-right: 47px;
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  width: 100%;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
}

.promo__text {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  max-width: 376px;
}

.promo__button {
  position: relative;
  padding-right: 64px;
  width: 91%;
  justify-content: left;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 40px;
    width: 14px;
    height: 14px;
    background-image: url('../img/icons/arrow-down-light.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    transform: translateY(-50%);
  }
}
