.promo {
  padding-top: 185px;
  padding-bottom: 296px;
  background-color: $blue-background;
  background-image: url('../img/background-main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  color: $white-basic;

  @media (max-width: $tablet-width-max) {
    padding-top: 60px;
    padding-bottom: 83px;
  }
}

.promo__content {
  max-width: 412px;
  margin-left: auto;
  margin-right: 47px;

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 398px;
    margin-right: auto;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  width: 100%;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;

  @media (max-width: $tablet-width-max) {
    font-size: 30px;
    line-height: 45px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  max-width: 376px;

  @media (max-width: $tablet-width-max) {
    max-width: none;
    width: 100%;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.47px
  }
}

.promo__button {
  position: relative;
  padding-right: 64px;
  width: 91%;
  justify-content: left;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 40px;
    width: 14px;
    height: 14px;
    background-image: url('../img/icons/arrow-down-light.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    transform: translateY(-50%);
  }

  @media (max-width: $tablet-width-max) {
    padding: 19px 58px 19px 40px;
    width: 63%;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
  }
}
