.promo {
  padding-top: 185px;
  padding-bottom: 296px;
  background-image: url('../img/background-main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  color: $white-basic;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background-main@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    padding-top: 60px;
    padding-bottom: 83px;
    background-image: url('../../img/background-main-tablet.jpg');

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-main-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-max) {
    padding: 0;
    padding-bottom: 28px;
    background-image: none;
    background-position: top center;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: none;
    }
  }
}

.promo__container {
  @media (max-width: $mobile-width-max) {
    padding: 0;
  }
}

.promo__content {
  max-width: 412px;
  margin-left: auto;
  margin-right: 47px;

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 398px;
    margin-right: auto;
  }

  @media (max-width: $mobile-width-max) {
    margin: 0;
    max-width: fit-content;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  width: 100%;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;

  @media (max-width: $tablet-width-max) {
    font-size: 30px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 81px;
    padding-bottom: 82px;
    padding-right: 10px;
    padding-left: 16px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    background-image: url('../../img/background-main-mobile.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-main-mobile@2x.jpg");
    }
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  max-width: 376px;

  @media (max-width: $tablet-width-max) {
    max-width: none;
    width: 100%;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.47px
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    color: $blue-dark-main;
  }
}

.promo__button {
  position: relative;
  padding-right: 64px;
  width: 91%;
  justify-content: left;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 40px;
    width: 14px;
    height: 14px;
    background-image: url('../img/icons/arrow-down-light.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    transform: translateY(-50%);
  }

  @media (max-width: $tablet-width-max) {
    padding: 19px 58px 19px 40px;
    width: 63%;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
  }

  @media (max-width: $mobile-width-max) {
    width: 90%;
    max-width: 400px;
  }
}
