.rates {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 21px;
    padding-right: 21px;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.rates__info {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 110px;

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 0;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 40px;
  }
}

.rates__title {
  position: relative;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 33px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 62%;
    height: 3px;
    background-color: $orange-main;
  }

  @media (max-width: $tablet-width-max) {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 0;
    font-size: 30px;
    line-height: 45px;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width-max) {
    font-size: 24px;
    line-height: 36px;
  }
}

.rates__description {
  margin: 0;
  margin-bottom: 60px;
  color: $blue-dark-main-opacity-70;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 30px;
    text-align: center;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 20px;
  }
}

.rates__list {
  grid-row-start: 1;
  grid-row-end: 2;

  @media (max-width: $tablet-width-max) {
    width: 100%;
  }
}
