.route {
  width: 31.6%;

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 21px;
    padding-right: 21px;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.route__title {
  position: relative;
  margin: 0;
  margin-bottom: 23px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.25px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 49%;
    height: 3px;
    background-color: $orange-main;
  }

  @media (max-width: $tablet-width-max) {
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: unset;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width-max) {
    font-size: 24px;
    line-height: 36px;
  }
}

.route__text {
  margin: 0;
  margin-bottom: 31px;
  color: $blue-dark-main-opacity-70;
  letter-spacing: -0.47px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.route__buy-button {
  min-width: 250px;
  padding: 30px 39px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;

  @media (max-width: $tablet-width-max) {
    padding: 19px 52px;
    max-width: 350px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 19px 52px;
    width: 100%;
    max-width: 350px;
  }
}
