.route {
  width: 31.6%;
}

.route__title {
  position: relative;
  margin: 0;
  margin-bottom: 33px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 49%;
    height: 3px;
    background-color: $orange-main;
  }
}

.route__text {
  margin: 0;
  margin-bottom: 50px;
  color: $blue-dark-main-opacity-70;
  letter-spacing: -0.47px;
}

.route__buy-button {
  min-width: 250px;
}
