.route {
  width: 31.6%;

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.route__title {
  position: relative;
  margin: 0;
  margin-bottom: 33px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 49%;
    height: 3px;
    background-color: $orange-main;
  }

  @media (max-width: $tablet-width-max) {
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 45px;

    &::before {
      display: none;
    }
  }
}

.route__text {
  margin: 0;
  margin-bottom: 50px;
  color: $blue-dark-main-opacity-70;
  letter-spacing: -0.47px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.route__buy-button {
  min-width: 250px;
  padding: 19px 52px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
}
