.summary {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 239px;
}

.summary__route {
  margin-right: 100px;
}

.summary__photo {
  height: 596px;
  max-width: 430px;
}

.summary__feedback {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
