.tab-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 95px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 1170px;
}

.tab-list__item {
  margin-right: 99px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  &:last-child {
    margin-right: 0;
  }
}

.tab-list__link {
  color: $blue-dark-main-opacity-30;

  &:hover,
  &:focus,
  &:active {
    color: $orange-hover;
  }
}
