.tab-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width:fit-content;
  border-bottom: 1px solid $blue-dark-main-opacity-30;

  @media (max-width: $tablet-width-max) {
    flex-wrap: nowrap;
    overflow-y: scroll;
  }
}

.tab-list__item {
  margin-right: 89px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.415px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width-max) {
    &:last-child {
      padding-right: 21px;
    }
  }
}

.tab-list__link {
  padding: 5px;
  color: $blue-dark-main-opacity-30;

  &:hover,
  &:focus,
  &:active {
    color: $orange-hover;
  }

  &--active {
    color: $orange-hover;
  }
}
