//viewports
$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1023px;
$desktop-width: 1920px;

//font

$main-font: 'Montserrat', Verdana, sans-serif;

// black&white

$white-basic: #ffffff;
$white-basic-opacity-70: rgba(255, 255, 255, 0.7);
$black-basic: #000000;

// blue

$blue-dark-main: #2c2e3f;
$blue-dark-main-opacity-70: rgba(44, 46, 63, 0.7);
$blue-dark-main-opacity-30: rgba(44, 46, 63, 0.3);
$blue-darkest-text: #141517;
$blue-darkest-text-opacity-70: rgba(20, 21, 23, 0.7);
$blue-darkest-text-opacity-50: rgba(20, 21, 23, 0.5);

//orange

$orange-button: #fe7865;
$orange-hover: #f17d4b;

//grey

$grey: #fbf8f8;
$grey-dark-text:#48494d;

//box shadow

$feedback-form-shadow: 0px 4px 30px rgba(41, 54, 66, 0.1);

//transition-time

$transition-time: 300ms;
$transition-time-low: 100ms;
