$z-index-location-map: 5;
$z-index-location-address: 7;
$z-index-page-main-catalog: 7;
$z-index-page-footer: 10;
$z-index-page-header-upper: 10;
$z-index-location: 10;
$z-index-feedback: 20;
$z-index-tariffs: 30;
$z-index-companions: 40;
$z-index-tariffs-mobile: 50;
$z-index-directions: 50;
$z-index-about-service: 60;
$z-index-traveller-settings: 20;
$z-index-plans: 70;
$z-index-promo: 70;
$z-index-add-plan: 80;
$z-index-page-footer-upper: 100;
$z-index-page-header: 100;
$z-index-page-header-fixed: 150;
