// general

@import '../sass/general/normalize.scss';
@import '../sass/general/fonts.scss';
@import '../sass/general/variables.scss';
@import '../sass/general/mixin.scss';
@import '../sass/general/global.scss';
@import '../sass/general/z-indexes.scss';

// blocks
@import '../sass/blocks/button.scss';
@import '../sass/blocks/container.scss';
@import '../sass/blocks/visually-hidden.scss';
@import '../sass/blocks/page.scss';
@import '../sass/blocks/page-header.scss';
@import '../sass/blocks/promo.scss';
@import '../sass/blocks/navigation.scss';
@import '../sass/blocks/places.scss';
@import '../sass/blocks/place-card.scss';
@import '../sass/blocks/tab-list.scss';
@import '../sass/blocks/places-tabs.scss';
@import '../sass/blocks/country-info.scss';
@import '../sass/blocks/summary.scss';
@import '../sass/blocks/place-feedback.scss';
@import '../sass/blocks/route.scss';
@import '../sass/blocks/rates.scss';
@import '../sass/blocks/contact-us.scss';
@import '../sass/blocks/price-options.scss';
@import '../sass/blocks/advantages.scss';
@import '../sass/blocks/page-footer.scss';
@import '../sass/blocks/future-trips.scss';
@import '../sass/blocks/contacts.scss';
@import '../sass/blocks/corporate-trips.scss';
@import '../sass/blocks/feedback.scss';
@import '../sass/blocks/form.scss';
@import '../sass/blocks/modal.scss';
